body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

input{
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  box-sizing: border-box;
  outline-color: #116A7B;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container-odd{
  padding: 30px 70px;
  background-color: #C4DFDF;
  color:#116A7B;
}

.container-even{
  padding: 30px 70px;
  background-color: #116A7B;
  color: #C4DFDF;
}

.ques-odd{
  background-color: #116A7B;
  margin: 10px;
  padding: 10px ;
  color: white;
  border-radius: 10px;
}

.ques-even{
  background-color: #C4DFDF;
  margin: 10px ;
  padding: 10px ;
  color: #116A7B;
  border-radius: 10px;

}

.theme-div{
  padding: 20px 70px;
  margin: 20px;
  border-radius: 30px;
}


.user{
  padding: 10px;
  background-color: #ffffff;
  color: #116A7B;
  border-radius: 20px;
  

}

.Counter{
  background-color: #C4DFDF;
  color:#116A7B;
  padding: 10px;

}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  background: #73A9AD;
  padding: 10px 20px;
  text-decoration: none;
  border:none;
  margin: 10px 20px;
}

.btn:hover {
  background: #116A7B;
  text-decoration: none;
}

.btn-dark {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #116A7B;
  background: #73A9AD;
  padding: 10px 20px;
  text-decoration: none;
  border: #116A7B;
  margin: 10px 20px;

}

.btn-dark:hover {
  background: #C4DFDF;
  text-decoration: none;
}